.quality-table{
    width: 1048px;
    margin: 0 auto;
    border-spacing: 0;
    &__cell{
        padding: 15px;
        border-bottom: 1px solid #EBF1F5;
        font-size: 14px;
        color: #293742;
    }
    &__cell--head{
        color: #BFCCD6;
       border-bottom: 1px solid #D8E1E8;
    }
    &__cell--order{
        color: #4580E6;
    }
}